ceramic_9_sharpen_images/
ceramicimages/
inkimages/
Moving Pebbles - Ceramic Paint.MOV
Moving Pebbles - Ink Paint.MOV
Rotated3Data/
RotatedData/
Rotated4Data/
SVHNData/
visualization_results/
Rotated3Data/
visualization_results/videocer/
SVHNData/
mask-rcnn-pebble.pt.filepart
bestceramic/
